<h2>登录成功</h2>

<fieldset>
	<legend><b>Web授权</b></legend>
	<a target="_blank" href="/r/r1">/r/r1</a><br>
	<a target="_blank" href="/r/r2">/r/r2</a><br>
	<a target="_blank" href="/r/r3">/r/r3</a><br>
</fieldset>

<fieldset>
	<legend><b>方法授权</b>@EnableGlobalMethodSecurity(securedEnabled = true)</legend>
	<a target="_blank" href="/s1">/s1</a><br>
	<a target="_blank" href="/s2">/s2</a><br>
	<a target="_blank" href="/s3">/s3</a><br>
</fieldset>

<fieldset>
	<legend><b>方法授权</b>@EnableGlobalMethodSecurity(prePostEnabled = true)</legend>
	<a target="_blank" href="/p1">/p1</a><br>
	<a target="_blank" href="/p2">/p2</a><br>
	<a target="_blank" href="/p3">/p3</a><br>
</fieldset>
